body {
    overflow: hidden;
    font-family: "Lato";
    width: 100%;
    height: 100%;
    position: fixed;
    background: url("../images/images.jpg") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left:0;
    top: 0;
}
.square {
    width: 50px;
    height: 69px;
    background: #000;
    color: #fff;
    position: absolute;
    top: -50px;
    line-height: 85px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background: url("../images/bomb.png");
}

.score {
    position: absolute;
    font-family: "Open Sans";
    font-size: 30px;
    left: 10px;
    top: 35px;
}

#life {
    position: absolute;
    overflow: hidden;
}
.heart {
    margin: 0 2px;
    width: 40px;
    height: 37px;
    float: left;
    background: url("../images/heart-sprite.png") 37px 0;
}
.heart.full {
    background: url("../images/heart-sprite.png");
}

.board {
    width: 300px;
    height: 216px;
    position: absolute;
    bottom: 65px;
    left: 80px;
    background: url("../images/placa.png");
}

.container {
    width: 170px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -70px 0 0 -75px;
}

.message {
    background: no-repeat center center;
}

.start {
    width: 150px;
    margin: 15px auto 0 auto;
    display: block;
    padding: 5px 15px;
    background: #5fb0e5;
    border: 1px solid #5fb0e5;
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Open Sans';
    cursor: pointer;
    outline: none;
    font-size: 20px;
}

/*box*/

.overlay{
    width: 100%;
    height: 100%;
    background: #000000;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    opacity: 0;
}

.formItem {
    margin: 25px 0 0 20px;
}

.box {
    width: 370px;
    height: 116px;
    position: fixed;
    border: 1px solid #cccccc;
    left: 50%;
    top: 50%;
    margin: -58px 0 0 -235px;
    z-index: 12000;
    background: #ffffff;
    border-radius: 6px;
    opacity: 0;
}

.box label {
    font-size: 16px;
    color: #5fb0e5;
}

.box .pontuacao {
    font-size: 20px;
    color: #5fb0e5;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-family: "Open Sans";
    width: 130px;
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.box .pontuacao span {
    font-size: 20px;
    color: #444444;
    font-family: "Open Sans";
}

.box input[type='text']{
    border-radius: 6px;
    border: 1px solid #5fb0e5;
    padding: 10px 5px;
    font-size: 14px;
    font-family: 'Open Sans';
}

.box input[type='text'].error, .box input[type='text'].error:focus {
    border-radius: 6px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #9a1515;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(154, 21, 21, 0.6);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(154, 21, 21, 0.6);
    font-family: 'Open Sans';
}

.box input[type='text']:focus {
    border-radius: 6px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-color: #5fb0e5;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    font-family: 'Open Sans';
}
.box input[type='submit']{
    padding: 10px 15px;
    background: #5fb0e5;
    border: 1px solid #5fb0e5;
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Open Sans';
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}


#by {
    font-size: 8px;
    position: absolute;
    bottom: 115px;
    left: 113px;
    transform: rotate(10deg);
}